@inherits LayoutComponentBase

<PageTitle>AATEventRegistration</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.alwaysactivemobile.co.za/" target="_blank">About AAT</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
